#product .text .info {
  color: rgba(130, 143, 176, 0.9);
}

#product .text p {
  color: #FF9879;
  font-size: 30px;
}

#product .text .star-widget i {
  font-size: 20px;
  color: #444;
  padding: 5px;
  transition: 0.4s;
}

#product .text .star-widget .yellow {
  color: #fdcc0d;
}

#product .text .amount {
  font-size: 18px;
  font-weight: bold;
}

#product .text .amount img {
  width: 25px;
  filter: contrast(0%) brightness(200%);
}
