* {
  box-sizing: border-box !important;
}

body {
  font-family: "Roboto";
  color: #fff !important;
  overflow-x: hidden;
}

input,
button,
select {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

.big-head-1 {
  font-size: 72px;
}

@media (max-width: 992px) {
  .big-head-1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .big-head-1 {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .big-head-1 {
    font-size: 35px;
  }
}

.big-head-2 {
  font-size: 48px;
}

@media (max-width: 992px) {
  .big-head-2 {
    font-size: 37px;
  }
}

@media (max-width: 768px) {
  .big-head-2 {
    font-size: 29px;
  }
}

@media (max-width: 576px) {
  .big-head-2 {
    font-size: 24px;
  }
}

.border-pale {
  border-bottom: 1px solid rgba(130, 143, 176, 0.1) !important;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none;
}

button {
  background: none;
}

.user-btn {
  border-radius: 100px;
  padding: 15px 45px;
  border: 2px solid #FF9879;
  color: #828FB0 !important;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.user-btn i {
  transition: 0.3s;
}

.user-btn:hover {
  background-color: #FF9879;
  color: #fff !important;
}

.user-btn:hover i {
  margin-left: 10px;
}

.admin-btn {
  border-radius: 5px;
  padding: 7px 15px;
  color: #fff !important;
  letter-spacing: 2px;
  font-weight: bold;
  border: 0;
  font-size: 15px;
}

.user-input, .user-select, .user-input:focus, .user-select:focus {
  padding: 15px 30px;
  border-radius: 40px 0 0;
  border: 0;
  background-color: rgba(130, 143, 176, 0.1);
  width: 100%;
  color: #828fb0;
}

.user-input::placeholder, .user-select::placeholder, .user-input:focus::placeholder, .user-select:focus::placeholder {
  color: rgba(130, 143, 176, 0.5);
  font-weight: bold;
  letter-spacing: 1px;
}

.user-select {
  font-weight: bold;
}

.user-select:focus {
  color: rgba(130, 143, 176, 0.5);
}

.color-light {
  color: #FF9879 !important;
}

.user-form {
  width: 45%;
}

@media (max-width: 992px) {
  .user-form {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .user-form {
    width: 95%;
  }
}

nav {
  border-bottom: 1px solid rgba(130, 143, 176, 0.1) !important;
}
