@import "../../sass/helpers/variables";
.advanced-list {
  li {
    margin-right: 20px;
    font-size: 18px;
    $WH: 30px;
    width: $WH;
    height: $WH;
    line-height: $WH;
    background-color: rgba($pale, 0.1);
    text-align: center;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
    a {
      color: $white;
      position: relative;
    }
    &::before {
      content: "";
      display: block;
      $dim: 12px;
      width: $dim;
      height: $dim;
      position: absolute;
      background-color: rgb(0, 183, 255);
      border-radius: inherit;
      top: 30%;
      left: 30%;
    }
    &:hover {
      background-color: lighten($dark, 10%);
    }
  }
  li:nth-of-type(2) {
    &::before {
      background-color: #4267b2;
    }
  }
  li:last-of-type {
    &:before {
      background-color: #ee802f;
    }
  }
}
.footer-list {
  li {
    a {
      font-size: 25px;
      color: rgba($pale, 0.5);
    }
  }
}
