//colors
$white : #fff;
$black : #000;
$dark : #0e1630;
$light : #FF9879;
$pale : #828FB0;
$lightenDark : #212529;
$lightBlue : #17a2b8;
$lightGreen : #28a745;
$lightYellow : #ffc107;
$lightRed : #dc3545;
//fonts
$global-font : "Roboto";
$secondary-font : "Playfair Display"