.contact .text .hint {
  color: #828FB0;
}

.contact .text .hint::after {
  content: '';
  display: block;
  border-bottom: 1px solid #FF9879;
  width: 135px;
  margin-top: 25px;
}

.contact .text .description {
  color: #828FB0;
  line-height: 1.7;
}

@media (max-width: 576px) {
  .contact .text .description br {
    display: none;
  }
}
