.about-section .youtube-video {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  top: 0;
}

.about-section .youtube-video iframe {
  width: 70%;
  height: 70%;
}

.about-section .youtube-video button {
  background: none;
  color: #FF9879;
  font-size: 30px;
  top: 7%;
  right: 7%;
}

.about-section .text {
  background-image: url("../../assets/props.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.about-section .text p {
  font-size: 18px;
  color: #828FB0;
  line-height: 1.8;
}

@media (max-width: 992px) {
  .about-section .text p br {
    display: none;
  }
}

.about-section .vid {
  border-radius: 50% 0 0 50%;
}

.about-section .vid img {
  width: 100%;
  border-radius: inherit;
  transition: .3s;
}

.about-section .vid button {
  background: none;
  font-size: 100px;
  color: #FF9879;
  top: 35%;
  left: 44%;
}

@media (max-width: 992px) {
  .about-section .vid button {
    top: 15%;
  }
}

@media (max-width: 768px) {
  .about-section .vid button {
    top: 35%;
  }
}

.about-section .vid:hover img {
  filter: brightness(50%);
}
