footer {
  border-top: 1px solid rgba(130, 143, 176, 0.1) !important;
}

footer form {
  background-color: rgba(130, 143, 176, 0.1);
  padding: 30px 50px;
  border-radius: 150px 150px 150px 0;
}

footer form input {
  background: none;
  font-size: 25px;
  color: rgba(130, 143, 176, 0.5);
}

footer form input::selection {
  background: #FF9879;
  color: #fff;
}

footer form input::placeholder {
  color: inherit;
}

footer form button {
  border: 2px solid #FF9879;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 40px;
  padding: 15px 30px;
  font-size: 15px;
  background-color: rgba(130, 143, 176, 0.1);
  transition: 0.3s;
}

footer form button:hover {
  background-color: #FF9879;
}

@media (max-width: 768px) {
  footer .content {
    flex-direction: column !important;
  }
}

footer p {
  letter-spacing: 1px;
}
