.product-table {
  border-color: rgba(130, 143, 176, 0.1) !important;
  color: #828FB0;
}

.product-table .close button {
  background: none;
}

.product-table .amount div {
  background: none !important;
  border-color: rgba(130, 143, 176, 0.1) !important;
}

.product-table .amount div button {
  background: none;
  color: #FF9879;
}

.product-table .total {
  display: none;
}

@media (max-width: 768px) {
  .product-table .total {
    display: block;
  }
}
